## Bot
BOT_TOKEN=BOT_TOKEN>
ADMIN_IDS=ADMIN_ID,ADMIN_ID, ...
BOT_NAME=template

## PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=template
RESET_DATABASE=False

## Redis
REDIS_HOST=localhost
REDIS_PORT=6379
MEDIA_CHANNEL_ID=...
EVENT_CHANNEL_ID=...

## Miscellaneous
LOG_LEVEL=INFO
TIMEZONE=Europe/Kiev

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin
DJANGO_SUPERUSER_PASSWORD=admin

SERVER_HOST_IP=127.0.0.1
